
.header {
    font-family: "Poppins",sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 40px;
    background-color: transparent;
    border: 0;
    color: white;
}
  
.header h2 {
margin-right: 18px;
font-size: 2rem;
}


.subcribeButton {
display: block;
margin: 10px auto;
width: 70%;
border-radius: 10px;
}

.search {
margin-left: auto;
}

.getStartedButton {
color: #fff;
border-color: #fff;
transition: background-color ease-in-out 150ms, color ease-in-out 150ms;
}

.getStartedButton:hover {
background-color: #fff;
color: #2d3d29;
}