.nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.navItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 18px;
    border: 2px #cccccc22 solid;
    border-radius: 3px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color ease-in-out 150ms, color ease-in-out 150ms;
  }
  
  .navItem > span {
    display: block;
  }
  
  .chevron {
    transition: transform 150ms ease-in-out;
  }
  
  .navItem:hover .chevron {
    transform: rotateZ(-180deg);
  }
  
  .navContent {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: 0;
    top: 100%;
    transition: all ease-in-out 150ms;
  }
  
  .navContent:hover {
    cursor: default;
  }
  
  .navItem:hover {
    background-color: #fff;
    color: #2d3d29;
  }
  
  .navItem:hover .navContent {
    display: flex;
    border-radius: 2px;
    left: -2px; /* Substract the border-width */
    border-top-left-radius: 0;
  }
  
  .navItem .navContent a {
    padding: 8px 12px;
  }
  
  .navItem .navContent a:hover {
    background-color: #ddd;
    border-radius: 5px;
  }