.text{
  margin-top: 65px;
  width: 80%;
  margin: auto;
  font-size: large;
}

.containerVergleichAufbau{
  display: flex;
  margin-top: 50px;
  gap: 65px;
  justify-content: center;
  flex-wrap: wrap;
}

.imgTraditionellerAufbau{
  display: inline-block;
} 

.imgContainer{
  float: right;
}

.textBoxVorteile{
  margin-top: 50px;
  width: 80%;
  margin: auto;
  font-size: large;
}

.boxVirtualisierung{
  font-size: large;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.imgVirtualisierung {
 /* display: block; 
 margin: auto; 
 width: 50%;  */
}

.vergleichConVir{
  margin-top: 50px;
  width: 80%;
  margin: auto;
  font-size: large;
}

.imgVergleich{
  position: relative;
  top: 20px;
  width: 100%;
  max-width: 750px;
  height: auto;
}

