
.startPage {
  position: relative;
  height: 92vh;
  background: radial-gradient(circle at left top, #21632d , #2d3d29);
  width: 100%;
}

.container {
  position: absolute;
  display: block;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  height: fit-content;
  right: 25%;
  box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.8);
  padding: 17px 25px;
}