
.startPage {
  position: relative;
  height: 92vh;
  /* background: radial-gradient(circle at left top, #21632d , #2d3d29); */
  background: radial-gradient(circle at left bottom, #21632d 45%, #4982ba 100%);
  width: 100%;
}

.borderedContainer {
  display: block;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
  box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.8);
  padding: 17px 25px;
  width: fit-content;
  margin: 45px auto;
}

.container {
  display: block;
  color: #000;
  margin: 65px 15%;
  width: fit-content;
  width: 88%;
  max-width: 1280px;
}

.centeredText {
  text-align: center;
}

.subscription {
  position: absolute;
  display: block;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  height: fit-content;
  right: 25%;
  box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.8);
  padding: 17px 25px;
}

.benefitListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 50px;
}