.startPage {
  position: relative;
  height: 550px;
  /* background: radial-gradient(circle at left top, #21632d , #2d3d29); */
  background: radial-gradient(circle at left bottom, #21632d 45%, #4982ba 100%);
  width: 100%;
}

.logo{
  position: absolute;
  top: 30%;
  left: 15%;
}

.borderedContainer {
  display: block;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
  box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.8);
  padding: 17px 25px;
  width: fit-content;
  margin: 45px auto;
}

.introduction{
  text-align: center;
  margin-top: 50px;
}

.introductionText{
  font-size: large;
  width: 40%;
  margin: auto;
}

.outerCon{
  display: flex;
}

.container {
  display: block;
  color: #000;
  margin: 65px 15%;
  width: fit-content;
  width: 48%;
  max-width: 1280px;
}

.container2 {
  display: block;
  color: #000;
  margin: 65px 15%;
  width: fit-content;
  width: 48%;
  max-width: 1280px;
}

.subscription {
  position: absolute;
  display: block;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
  top: 55%;
  transform: translateY(-50%);
  width: 350px;
  height: fit-content;
  right: 15%;
  box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.8);
  padding: 17px 25px;
}

.subscribeButton{
  margin-top: 5px;
}

.benefitListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 50px;
}